.sidebar__container {
  flex: 3;
  height: calc(100vh - 50px);
  overflow-y: auto;
  position: sticky;
  top: 50px;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgb(174, 76, 255);
}

.sidebar__wrapper {
  padding: 50px;
}

.sidebar__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar__item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
  border-bottom: 1px white solid;
}

.sidebar__item:hover {
  border-bottom: 1px black solid;
}

.sidebar__icon {
  margin-right: 10px;
}

.sidebar__button {
  width: 150px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.sidebar__button:hover {
  background-color: rgb(219, 219, 219);
}

.sidebar__hr {
  margin: 20px 0;
}

.sidebar__friends {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar__friend {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding-bottom: 5px;
  margin-right: 50px;
  border-bottom: white solid 1px;
  cursor: pointer;
}

.sidebar__friend__image {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 10px;
}

.sidebar__friend:hover {
  border-bottom: 1px solid black;
}
