.profile__container {
  display: flex;
}

.profile__right {
  flex: 13;
}

.profile__right-bottom {
  display: flex;
}

.profile__cover {
  height: 320px;
  position: relative;
}

.profile__cover-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.profile__user-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 150px;
  border: 3px solid white;
}

.profile__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile__info-name {
  font-size: 24px;
}

.profile__info-desc {
  padding: 25px;
  text-align: center;
}

.profile__photo-label:hover {
  background-color: #000;
  opacity: 0.5;
  cursor: pointer;
  z-index: 4;
}

.profile__photo-label:hover ~ .profile__update-photo-btn {
  visibility: visible;
}

.profile__update-photo-btn {
  position: absolute;
  top: 73%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  cursor: pointer;
  pointer-events: none;
  span {
    font-size: 50px;
  }
}

.profile__update-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
}

.profile__update-btn {
  font-size: 17px;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  width: 170px;
  margin-top: 10px;
}

.profile__update-btn.submit {
  background-color: rgb(167, 110, 214);
  color: white;
  margin-right: 15px;
}

.profile__update-btn.submit:hover {
  background-color: rgb(133, 87, 170);
}

.profile__update-btn.cancel {
  background-color: lightgray;
  color: black;
  margin-left: 15px;
}

.profile__update-btn.cancel:hover {
  background-color: rgb(182, 182, 182);
}

.profile__cover-wrapper {
  position: relative;
}

.edit-cover {
  position: absolute;
  top: 10px;
  left: 15px;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  visibility: hidden;
}

.edit-cover:hover {
  transform: scale(1.2);
  color: rgb(167, 110, 214);
}

.profile__cover-wrapper:hover .edit-cover {
  visibility: visible;
}

.profile__cover-btns {
  margin-left: 20px;
}

.profile__edit-desc {
  visibility: hidden;
  margin-right: 20px;
  cursor: pointer;
}

.profile__edit-desc:hover {
  transform: scale(1.2);
  color: rgb(167, 110, 214);
}

.profile__info-desc:hover .profile__edit-desc {
  visibility: visible;
}

.profile__info-desc {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.profile__desc-textarea {
  margin-left: 30px;
  width: 700px;
  border: none;
  border-bottom: 1px solid black;
  font-style: italic;
}
