.rightbar__container {
  flex: 3;
}

.rightbar__wrapper {
  padding: 20px 20px 0 0;
}

.birthday__image {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.birthday__text {
  font-size: 15px;
  b {
    cursor: pointer;
  }
  b:hover {
    text-decoration: underline;
  }
}

.birthday__container {
  display: flex;
  align-items: center;
}

.rightbar__ad {
  width: 100%;
  border-radius: 10px;
  margin: 30px 0;
}

.rightbar__friend__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.rightbar__friend {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.rightbar__profile-image__container {
  position: relative;
  margin-right: 10px;
}

.rightbar__profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.rightbar__online {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: limegreen;
  position: absolute;
  top: -2px;
  right: 0;
  border: 2px solid white;
}

.rightbar__username {
  font-weight: bold;
}

.rightbar__title {
  margin-bottom: 15px;
  font-size: 18px;
}

.rightbar__profile-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.rightbar__following-image {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 8px;
}

.rightbar__info {
  margin-bottom: 30px;
}

.rightbar__info-item {
  margin-bottom: 10px;
}

.rightbar__info-key {
  font-weight: bold;
  margin-right: 15px;
  color: #555;
}

.rightbar__followings {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.rightbar__following {
  padding: 3px 6px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
 // border: 2px solid rgb(167, 110, 214);
 // border-radius: 10px;
}

.rightbar__following:hover {
  transform: scale(1.1);
}

.rightbar__following-name {
  margin-top: 8px;
}

.rightbar__follow-btn {
  margin-top: 30px;
  margin-bottom: 10px;
  border: none;
  background-color: rgb(167, 110, 214);
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;

}
