.share__container {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68);
}

.share__wrapper {
    padding: 10px;
}

.share__top {
    display: flex;
    align-items: center;
}

.share__profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    margin-left: 5px;
    margin-top: 5px;
}

.share__input {
    font-size: 18px;
    border: none;
    width: 80%;
}

.share__input:focus {
    outline: none;
}

.share__hr {
    margin: 20px;
}

.share__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.share__options {
    display: flex;
    margin-right: 20px;
    margin-left: 20px;
}

.share__option {
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;

    .tomato {
        color: tomato;
    }
    .blue {
        color: blue;
    }
    .green {
        color: green;
    }
    .golden {
        color: goldenrod;
    }
}

.share__option:hover {
    background-color: rgb(219, 219, 219);
}

.share__icon {
    font-size: 18px;
    margin-right: 5px;
}

.share__option__text {
    font-size: 16px;
}

.share__button {
    border: none;
    padding: 7px 10px;
    border-radius: 5px;
    margin-right: 20px;
    cursor: pointer;
    color: white;
    background-color: rgb(133, 87, 170);
    font-size: 16px;
}

.share__img-container {
   padding: 0 20px 10px 20px; 
   position: relative;
}

.share__img {
    width: 100%;
    object-fit: cover;
}

.share__cancel-btn {
    position: absolute;
    top: 0;
    right: 20px;
    cursor: pointer;
    opacity: 0.7;
    font-size: 20px;
}
.red {
    color: red;
    font-size: 30px;
}